

.add_questions{
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
}

.add_questions-open{
    transform: translate(-50%, -50%)scale(1);
    visibility: visible;
}

.edit{
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    height: 350px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    visibility: hidden;
    transition: 0.5s;
}

.edit-open{
    transform: translate(-50%, -50%)scale(1);
    visibility: visible;
}

.delete{
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    height: 14rem;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    visibility: hidden;
    transition: 0.5s;
}

.delete-open{
    transform: translate(-50%, -50%)scale(1);
    visibility: visible;
}
